In [62]:
import numpy as np
import pandas as pd

In [63]:
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression

In [64]:
import warnings
warnings.filterwarnings("ignore")

In [65]:
df = pd.read_csv('hotel_bookings.csv')
df = df.iloc[0:2999]
df.head()

,hotel,is_canceled,lead_time,arrival_date_year,arrival_date_month,arrival_date_week_number,arrival_date_day_of_month,stays_in_weekend_nights,stays_in_week_nights,adults,...,deposit_type,agent,company,days_in_waiting_list,customer_type,adr,required_car_parking_spaces,total_of_special_requests,reservation_status,reservation_status_date
0,Resort Hotel,0,342,2015,July,27,1,0,0,2,...,No Deposit,NaN,NaN,0,Transient,0.0,0,0,Check-Out,2015-07-01
1,Resort Hotel,0,737,2015,July,27,1,0,0,2,...,No Deposit,NaN,NaN,0,Transient,0.0,0,0,Check-Out,2015-07-01
2,Resort Hotel,0,7,2015,July,27,1,0,1,1,...,No Deposit,NaN,NaN,0,Transient,75.0,0,0,Check-Out,2015-07-02
3,Resort Hotel,0,13,2015,July,27,1,0,1,1,...,No Deposit,304.0,NaN,0,Transient,75.0,0,0,Check-Out,2015-07-02
4,Resort Hotel,0,14,2015,July,27,1,0,2,2,...,No Deposit,240.0,NaN,0,Transient,98.0,0,1,Check-Out,2015-07-03

In [66]:
correlation = df.corr()["is_canceled"]
correlation.abs().sort_values(ascending=False)[1:]

required_car_parking_spaces       0.286929
company                           0.210258
lead_time                         0.209389
booking_changes                   0.128580
adr                               0.096207
adults                            0.075404
days_in_waiting_list              0.063694
total_of_special_requests         0.059526
arrival_date_day_of_month         0.051144
stays_in_week_nights              0.044800
children                          0.035620
agent                             0.026789
stays_in_weekend_nights           0.019780
babies                            0.014373
arrival_date_week_number          0.010482
arrival_date_year                      NaN
is_repeated_guest                      NaN
previous_cancellations                 NaN
previous_bookings_not_canceled         NaN
Name: is_canceled, dtype: float64

In [67]:
df_new = df.copy()[['required_car_parking_spaces','lead_time','booking_changes','adr','adults', 'is_canceled']]
df_new.head()

,required_car_parking_spaces,lead_time,booking_changes,adr,adults,is_canceled
0,0,342,3,0.0,2,0
1,0,737,4,0.0,2,0
2,0,7,0,75.0,1,0
3,0,13,0,75.0,1,0
4,0,14,0,98.0,2,0

In [68]:
df_new_train=df_new.iloc[0:1999]
df_new_test=df_new.iloc[2000:2999]
df_new.to_csv('minidata.csv',index=False,header=False)
df_new_train.to_csv('minidatatrain.csv',index=False,header=False)
df_new_test.to_csv('minidatatest.csv',index=False,header=False)

In [69]:
x = df_new.drop(['is_canceled'], axis=1)
y = df_new['is_canceled']

In [70]:
x_train, x_test, y_train, y_test = train_test_split(x, y, test_size=0.20, shuffle=False)

In [71]:
model_LogReg_Asli = LogisticRegression()
model_LogReg_Asli.fit(x_train, y_train)

LogisticRegression()

In [72]:
y_pred_lr = model_LogReg_Asli.predict(x_test)

In [73]:
model_LogReg_Asli.score(x_train, y_train)

0.68528553563985

In [34]:
model_LogReg_Asli.score(x_test, y_test)

0.6933333333333334